__pycache__/
.snakemake/
.conda/
.micromamba/
raw/
processed/
results/
logs/

!**/results/**/*.ipynb
**/results/**.tsv
**/results/**.old.*
**/results/**test*

biodiversity-confidence/resources/
*.env
